@import "../../helpers/_size.scss";
@import "../core/theme.scss";

/* The base of the modal dialog, which is an overlay of the webpage */
.#{$class-prefix}modal {
    $this: &;

    position: fixed; /* Scrolls with the user */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0; /* Initially hidden */
    padding: 1em;
    display: none; /* Doesn't block the elements underneath */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; /* Vertical centering */
    pointer-events: none; /* Prevent any pointer events made to modal while hidden */

    /* When the modal dialog is visible */
    &#{$shown-class-name} {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        opacity: 1;
        z-index: 2147483548;
        pointer-events: auto; /* Re-enable pointer events */
        background-color: rgba(33, 41, 52, 0.75);

        /* The div in the modal dialpog used to create the translucent background */
        .#{$class-prefix}modal-overlay {
            position: absolute; /* Absolute inside of the modal container */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            background-color: transparentize($color: $cirrus-dark, $amount: 0.5);
        }

        // .#{$class-prefix}modal-container,
        .#{$class-prefix}modal-container {
            -webkit-animation: slide-down $animation-duration ease 1;
            animation: slide-down $animation-duration ease 1;
            z-index: 1;
        }
    }

    /* Different size modals */
    &.#{$class-prefix}modal-small .#{$class-prefix}modal-content {
        max-width: 20em; /* 320px */
    }

    &.#{$class-prefix}modal-large .#{$class-prefix}modal-content {
        max-width: 60em; /* 960px */
    }

    /* The modal dialog body with the text itself */
    .#{$class-prefix}modal-content {
        background-color: $cirrus-bg;
        padding: 0;
        display: block;
        border-radius: 3px;
        box-shadow: 0 0.4em 1em transparentize($color: $cirrus-dark, $amount: 0.7);
        z-index: 1;
        color: $cirrus-fg;
        max-width: 770px; /* 640px */

        /* Restrict width  */
        &.small {
            max-width: 32em;
        }

        // h1,
        // h2,
        // h3,
        // h4,
        // h5,
        // h6 {
        //     color: var(--cirrus-fg);
        // }

        .#{$class-prefix}modal-header {
            padding: 1em 2em;
        }

        .#{$class-prefix}modal-header .#{$class-prefix}modal-title {
            font-weight: bolder;
            font-size: 1.5em;
        }

        .#{$class-prefix}modal-body {
            padding: 0 2em;
            overflow-y: auto;
            max-height: 50vh; /* Max height is 50% of viewport height which prevents dialog from extetnding past screen */
            position: relative;
        }

        .#{$class-prefix}modal-footer {
            padding: 1em 2em;
        }

        @include screen-below('sm') {
            max-width: 90%;
        }
    }

}

/* Keyframes for slide down animation */
@-webkit-keyframes slide-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-3em);
        transform: translateY(-3em);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes slide-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-3em);
        transform: translateY(-3em);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@media only screen and (max-width: 768px) {
    .#{$class-prefix}modal-content {
        max-width: 90%;
    }
}
